<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery/mobile/jquery.mobile-1.3.2.min.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <script type="text/javascript" src="/static/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery/mobile/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>
    {% block main %}{% endblock %}
    <script type="text/javascript" src="/static/swipe/swipe.js"></script>
</body>
</html>
