{% extends "base.html" %}
{% include "nav_panel.html" %}
{% block main %}
<div data-role="page" id="page-detail" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="/search" data-ajax="false" data-icon="search" data-iconpos="notext"></a>
        <h1>Smartphone attachable lens-style camera</h1>
    </div>
    <div data-role="content">
        <div class="detail-container">
            <div class="info">
                <h2 class="title">DSC-QX10/B</h2>
                <p class="ext"></p>
            </div>
            <div class="video">
                video
            </div>
            <div class="toolbar">
                <a href="#" data-role="button" data-mini="true" data-inline="true" data-icon="star" data-corners="false">321</a>
                <a href="#" data-role="button" data-mini="true" data-inline="true" data-icon="forward" data-corners="false">分享</a>
            </div>
            <div data-role="collapsible-set" data-theme="d" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
                <div data-role="collapsible">
                    <h2>规格</h2>
                </div>
                <div data-role="collapsible">
                    <h2>手册</h2>
                </div>
                <div data-role="collapsible">
                    <h2>评价</h2>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
