{% extends "base.html" %}
{% block main %}
<div data-role="page" id="page-detail" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="/search" data-ajax="false" data-icon="search" data-iconpos="notext"></a>
        <h1>产品详情</h1>
    </div>
    <div data-role="content">
        <div class="detail-container">
            <div class="info">
                <h2 class="title">Smartphone attachable lens-style camera</h2>
                <p class="ext">DSC-QX10/B</p>
            </div>
            <div data-role="navbar" class="navbar">
                <ul>
                    <li><a href="#" class="ui-btn-active">图片</a></li>
                    <li><a href="#">规格</a></li>
                    <li><a href="#">手册</a></li>
                    <li><a href="#">评价</a></li>
                </ul>
            </div>
            <div class="photo">
                <div class="like"><a href="#" data-role="button" data-mini="true" data-inline="true">喜欢</a></div>
                <div class="pic">
                    <img src="/static/img/290.gif" alt="大图"/>
                </div>
                <ul class="thumb">
                    <li><img src="/static/img/40.gif" alt="小图"/></li>
                    <li><img src="/static/img/40.gif" alt="小图"/></li>
                    <li><img src="/static/img/40.gif" alt="小图"/></li>
                </ul>
                <div class="share">
                    <a href="#" data-role="button" data-mini="true" data-inline="true">新浪</a>
                    <a href="#" data-role="button" data-mini="true" data-inline="true">腾讯</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}