{% extends "base.html" %}
{% block main %}
<div data-role="page" id="page-list" data-theme="d">
    <div data-role="header" data-theme="d">
        <h1>装备推荐</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="list-container">
            <ul id="J_list" data-role="listview" data-theme="d"></ul>
        </div>
    </div>
    <div data-role="panel" id="left-panel" data-theme="a">
        <ul data-role="listview" data-theme="a">
            <li data-role="list-divider" data-theme="d">导航</li>
            <li><a href="/search" data-ajax="false">产品搜索</a></li>
            <li><a href="#" data-ajax="false">装备推荐</a></li>
            <li><a href="#" data-ajax="false">旅游必备</a></li>
            <li><a href="/store" data-transition="slide">零售店地址</a></li>
            <li data-role="list-divider" data-theme="d">用户</li>
            <li><a href="#" data-ajax="false">我的收藏</a></li>
            <li><a href="#" data-ajax="false">我的手册</a></li>
            <li><a href="/profile" data-ajax="false">我的资料</a></li>
        </ul>
    </div>
    <div class="go-top"><a href="javascript:window.scrollTo(0,0);" data-role="button" data-icon="arrow-u" data-corners="false" data-mini="true">顶部</a></div>
</div>

<div data-role="page" id="page-script">
    <script type="text/template" id="J_template_list">
        <li data-role="list-divider" data-theme="a">${name}</li>
        <li class="product">
            <div class="pic swipe">
                <div class='swipe-wrap'>
                    <div><img src="/static/product_img/${id}/a.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${id}/b.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${id}/c.jpg" alt=""/></div>
                </div>
            </div>
            <div class="info">${brief}</div>
            <div class="more"><a href="/detail/${id}" data-ajax="false" data-icon="arrow-r" data-iconpos="right" data-role="button" data-mini="true" data-corners="false" data-inline="true">了解更多</a></div>
        </li>
    </script>
    <script type="text/javascript" src="/static/js/tr.js"></script>
    <script type="text/javascript">
        $(document).on('pageinit', '#page-list', function(e) {
            /**
             * 获取数据，填充列表
             */
            $.mobile.loading( 'show', {
                text: '加载数据...',
                textVisible: true,
                theme: 'a',
                textonly: false
            });
            var url = '/v1/products';
            $.get(url, function(res, status, xhr) {
                if(status !== 'success' || res.data.length === 0) {
                    return;
                }
                var template = $('#J_template_list').html(),
                        data = res.data,
                        html = '';
                for(var i = 0, len = data.length; i < len; i++) {
                    html += TemplateRender(template, {
                        id: data[i].id,
                        name: data[i].name,
                        brief: data[i].brief
                    });
                }
                $('#J_list').html(html).trigger('create').listview('refresh');
                $.mobile.loading('hide');

                $('.swipe').each(function(idx) {
                    Swipe(this, {
                        continuous: true,
                        stopPropagation: true
                    });
                });
            });

            /**
             * 返回顶部按钮
             */
            $(window).on('scrollstop', function(e) {
                var el = $('.go-top'),
                        win = $(window);
                if(win.scrollTop() > win.height() / 2) {
                    el.show();
                }
                else {
                    el.hide();
                }
            });

            /**
             * 滑动菜单
             */
            $(document).on("swiperight", "#page-list", function( e ) {
                if ( $.mobile.activePage.jqmData( "panel" ) !== "open" ) {
                    if ( e.type === "swiperight" ) {
                        $( "#left-panel" ).panel( "open" );
                    }
                }
            });
        });
    </script>
</div>
{% endblock %}
