{% extends "base.html" %}
{% block main %}
<div data-role="page" id="page-list" data-theme="d">
    <div data-role="header" data-theme="c">
        <h1>热门推荐</h1>
        <a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menu</a>
        <a href="#right-panel" data-theme="d" data-icon="arrow-l" data-iconpos="notext" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc">Open right panel</a>
    </div><!-- /header -->
    <div data-role="content">
        <div class="list-container">
        <div class="ui-grid-a" id="J_list"></div>
    </div>
    </div><!-- /content -->
    <div data-role="panel" id="left-panel" data-theme="b">
        <p>我的收藏</p>
        <p>我的手册</p>
        <p>我的资料</p>
        <a href="#" data-rel="close" data-role="button" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">Close</a>
    </div><!-- /panel -->
    <div data-role="panel" id="right-panel" data-display="push" data-position="right" data-theme="c">
        <p>产品搜素</p>
        <p>装备推荐</p>
        <p>旅友必备</p>
        <a href="#" data-rel="close" data-role="button" data-mini="true" data-inline="true" data-icon="delete" data-iconpos="right">Close</a>
    </div><!-- /panel -->

    <div data-role="page" id="page-script">
        <script type="text/template" id="J_template_list">
            <div class="ui-block-${a_b}">
                <div class="product">
                    <div class="cover"><a href="/detail/${id}" data-ajax="false"><img src="/static/img/135${a_b}.png" alt=""/></a></div>
                    <div class="info">
                        <h2 class="title"><a href="/detail/${id}" data-ajax="false" class="ui-link">${name}</a></h2>
                        <p class="star"><span class="light">★★★★</span>★</p>
                        <p class="price">${category}</p>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/javascript" src="/static/js/tr.js"></script>
        <script type="text/javascript">
            $(document).on('pageinit', '#page-list', function(e) {
                $.mobile.loading( 'show', {
                    text: '加载数据...',
                    textVisible: true,
                    theme: 'a',
                    textonly: false
                });

                var url = '/v1/products';
                $.get(url, function(res, status, xhr) {
                    if(status !== 'success' || res.data.length === 0) {
                        return;
                    }
                    var template = $('#J_template_list').html(),
                            data = res.data,
                            html = '';
                    for(var i = 0, len = data.length; i < len; i++) {
                        html += TemplateRender(template, {
                            a_b: (i % 2) ? 'b' : 'a',
                            id: data[i].id,
                            name: data[i].name,
                            category: data[i].category
                        });
                    }
                    $('#J_list').html(html);
                    $.mobile.loading('hide');
                });
            });
        </script>
    </div>


</div>
{% endblock %}
