{% extends "base.html" %}
{% block main %}

{% include "page/hot.html" %}
{% include "page/travel.html" %}
{% include "page/likes.html" %}
{% include "page/detail.html" %}
{% include "page/store.html" %}
{% include "page/profile.html" %}

<div data-role="page" id="script-script">
    <script type="text/template" id="J_template_panel">
        <div class="J_panel_container">
            <div class="go-top"><a href="javascript:window.scrollTo(0,0);" data-role="button" data-icon="arrow-u" data-corners="false" data-mini="true">顶部</a></div>
            <div data-role="panel" id="panel-left-${pageId}" data-theme="a" data-position="left">
                <ul data-role="listview" data-theme="a">
                    <li data-role="list-divider" data-theme="d">导航</li>
                    <li><a href="#hot" data-ajax="false">装备推荐</a></li>
                    <li><a href="#travel" data-ajax="false">旅友必备</a></li>
                    <li><a href="#store" data-ajax="false">直营店面</a></li>
                    <li data-role="list-divider" data-theme="d">用户</li>
                    <li><a href="#likes">我的收藏</a></li>
                    <li><a href="#profile" data-ajax="false">我的资料</a></li>
                </ul>
            </div>
            <div data-role="panel" id="panel-right-${pageId}" data-theme="a" data-position="right">
                <ul data-role="listview" data-theme="a">
                    {{session.test}}
                    {% if session.is_login %}
                    <li data-role="list-divider" data-theme="d">用户信息</li>
                    <li>用户名：{{session.guest_name}}</li>
                    {% endif %}
                    <li data-role="list-divider" data-theme="d">登录方式</li>
                    <li>
                        <a href="http://oauth.qunar.com/oauth-client/qq/login?appname=www&display=mobile&method=login&vistor=http://touch.xperia.qunar.com/v1/login&ret=http://touch.xperia.qunar.com/%23hot">QQ登录</a>
                        <!--<a href="http://oauth.qunar.com/oauth-client/qq/login?appname=www&display=mobile&method=login&vistor=http://touch.xperia.qunar.com:8888/v1/login&ret=http://touch.xperia.qunar.com:8888/%23hot">QQ登录</a>-->
                    </li>
                    <li>
                        <a href="http://oauth.qunar.com/oauth-client/sina/login?appname=www&display=mobile&method=login&vistor=http://touch.xperia.qunar.com/v1/login&ret=http://touch.xperia.qunar.com/%23hot">微博登录</a>
                        <!--<a href="http://oauth.qunar.com/oauth-client/sina/login?appname=www&display=mobile&method=login&vistor=http://touch.xperia.qunar.com:8888/v1/login&ret=http://touch.xperia.qunar.com:8888/%23hot">微博登录</a>-->
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="J_template_list">
        <li data-role="list-divider" data-theme="a">${name}</li>
        <li class="product">
            <div class="pic swipe">
                <div class='swipe-wrap'>
                    <div><img src="/static/product_img/${product_id}/a.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${product_id}/b.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${product_id}/c.jpg" alt=""/></div>
                </div>
            </div>
            <div class="info">${brief}</div>
            <div class="more">
                <a href="${buy_link}" target="_blank" data-ajax="false" data-role="button" data-mini="true" data-corners="false" data-inline="true">立即购买</a>
                <a href="#detail?id=${product_id}" data-ajax="false" data-role="button" data-mini="true" data-corners="false" data-inline="true">了解更多</a>
            </div>
        </li>
    </script>

    <script type="text/template" id="J_template_list_likes">
        <li data-role="list-divider" data-theme="a">${name}</li>
        <li class="product">
            <div class="pic swipe">
                <div class='swipe-wrap'>
                    <div><img src="/static/product_img/${product_id}/a.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${product_id}/b.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${product_id}/c.jpg" alt=""/></div>
                </div>
            </div>
            <div class="info">${brief}</div>
            <div class="more">
                <a href="${buy_link}" target="_blank" data-ajax="false" data-role="button" data-mini="true" data-corners="false" data-inline="true">立即购买</a>
                <a class="J-likes-unlike" data-product_id="${product_id}" data-role="button" data-mini="true" data-corners="false" data-inline="true">不喜欢了</a>
                <a href="#detail?id=${product_id}" data-ajax="false" data-role="button" data-mini="true" data-corners="false" data-inline="true">了解更多</a>
            </div>
        </li>
    </script>

    <script type="text/template" id="J_template_video">
        <video poster="/static/product_img/${product_id}/a.jpg" src="${video_url}" controls>
            Your browser does not support the video tag.
        </video>
    </script>

    <script type="text/template" id="J_template_comment">
        <li data-guestId="${guest_id}" data-product_id="${product_id}">
            <h3>${comment}</h3>
            <p><span class="stars">${ranked_stars}</span>，来自用户${guest_id}，${review_date}</p>
        </li>
    </script>

    <script type="text/javascript" src="/static/js/page.js"></script>
</div>

{% endblock %}
