{% extends "base.html" %}
{% block main %}
<div data-role="page" id="page-list" data-theme="d">
    {% include "panel.html" %}
    <div data-role="header" data-theme="d">
        <a href="#left-panel" data-icon="bars" data-iconpos="notext"></a>
        {% if page == 'hot' %}
        <h1>装备推荐</h1>
        {% endif %}
        {% if page == 'travel' %}
        <h1>旅友必备</h1>
        {% endif %}
        {% if page != 'hot' and page != 'travel'%}
        <h1>产品列表</h1>
        {% endif %}
        <a href="#right-panel" data-icon="grid" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="list-container">
            <ul id="J_list" data-role="listview" data-theme="d"></ul>
        </div>
    </div>
    <script type="text/template" id="J_template_list">
        <li data-role="list-divider" data-theme="a">${name}</li>
        <li class="product">
            <div class="pic swipe">
                <div class='swipe-wrap'>
                    <div><img src="/static/product_img/${id}/a.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${id}/b.jpg" alt=""/></div>
                    <div><img src="/static/product_img/${id}/c.jpg" alt=""/></div>
                </div>
            </div>
            <div class="info">${brief}</div>
            <div class="more"><a href="/detail/${id}" data-ajax="false" data-icon="arrow-r" data-iconpos="right" data-role="button" data-mini="true" data-corners="false" data-inline="true">了解更多</a></div>
        </li>
    </script>
    <script type="text/javascript">
        var list_config = {page: '{{page}}'};
    </script>
</div>
{% include "script.html" %}
{% endblock %}
