{% extends "base.html" %}
{% block main %}
<div data-role="page" id="page-search" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="/hot" data-ajax="false" data-icon="star" data-iconpos="notext"></a>
        <h1>产品搜索</h1>
    </div>
    <div data-role="content">
        <div class="search-container">
            <form action="">
                <ul data-role="listview" data-divider-theme="d">
                    <li data-role="list-divider" data-theme="a">产品目录</li>
                    <li>
                        <fieldset data-role="controlgroup" data-iconpos="right" data-corners="false">
                            <label><input type="checkbox" name="catalog" value="photo">数码相机</label>
                            <label><input type="checkbox" name="catalog" value="common">日常家电</label>
                            <label><input type="checkbox" name="catalog" value="laptop">笔记本电脑</label>
                        </fieldset>
                    </li>
                    <li data-role="list-divider" data-theme="a">按型号搜索</li>
                    <li>
                        <label><input type="search" name="q" placeholder="输入关键词..."/></label>
                    </li>
                    <li><button type="submit" data-icon="search" data-corners="false">搜索</button></li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}