{% extends "base.html" %}
{% include "nav_panel.html" %}
{% block main %}
<div data-role="page" id="page-store" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="/list/hot" data-ajax="false" data-icon="star" data-iconpos="notext"></a>
        <h1>SONY直营店面</h1>
    </div>
    <div data-role="content">
        <div class="store-container">
            <form action="">
                <ul data-role="listview" data-divider-theme="a">
                    <li data-role="list-divider">零售店位置</li>
                    <li>
                        <h2>北京东方广场店</h2>
                        <p>北京市东长安街1号东方新天地商场首层</p>
                        <p>AA06C&AA08号店铺</p>
                        <p>010-58116080</p>
                    </li>
                    <li>
                        <h2>北京悠唐广场店</h2>
                        <p>北京市朝阳区三丰北里五号悠唐中央广场2-101</p>
                        <p>010-85611336</p>
                    </li>
                    <li>
                        <h2>上海淮海路店</h2>
                        <p>上海市淮海中路901-909号1-3楼</p>
                        <p>021-64721212</p>
                    </li>
                    <li>
                        <h2>上海美罗城店</h2>
                        <p>徐汇区肇嘉浜路1111号美罗城第一层A区1-23单元</p>
                        <p>021-34692625</p>
                    </li>
                    <li>
                        <h2>上海南京东路店</h2>
                        <p>上海市黄浦区南京东路233号102铺位</p>
                        <p>021-63216677</p>
                    </li>
                    <li>
                        <h2>广州太古汇店</h2>
                        <p>广州市天河路385号太古汇一座3楼</p>
                        <p>020-38682903</p>
                    </li>
                    <li>
                        <h2>成都来福士店</h2>
                        <p>成都市人民南路四段3号成都来福士广场L2层2001号</p>
                        <p>028-64041580</p>
                    </li>
                    <li>
                        <h2>成都银石店</h2>
                        <p>四川省成都市锦江区红星路三段99号银石广场第二层</p>
                        <p>第2001-2003号商铺</p>
                        <p>028-86729718</p>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}
