<div data-role="page" id="detail" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="#panel-left-detail" data-icon="bars" data-iconpos="notext"></a>
        <h1 class="J-detail-title"></h1>
        <a href="#panel-right-detail" data-icon="grid" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="detail-container">
            <div class="video">
                <video width="290" height="180" controls="controls">
                  <source src="/static/product_video/1/a.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
            <div class="toolbar">
                <a href="#" data-role="button" data-mini="true" data-inline="true" data-icon="star" data-corners="false">
                    <span id="J_detail_like">0</span>
                </a>
                <a href="#share" data-rel="dialog" data-role="button" data-mini="true" data-inline="true" data-icon="forward" data-corners="false">分享</a>
            </div>
            <div data-role="collapsible-set" data-theme="d" data-content-theme="d" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-inset="false">
                <div data-role="collapsible" data-collapsed="false">
                    <h2>规格</h2>
                    <div class="J-detail-title title"></div>
                    <div class="J-detail-brief brief"></div>
                </div>
                <div data-role="collapsible">
                    <h2>评价</h2>
                    <ul data-role="listview" id="J_detail_comment"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-role="page" id="share">
    <div data-role="header" data-theme="b">
        <h1>我要分享</h1>
    </div>
    <div data-role="content">
        sdfsdf
    </div>
    <div data-role="footer">&nbsp;</div>
</div>
