<div data-role="page" id="store" data-theme="d">
    <div data-role="header" data-theme="d" data-position="fixed">
        <a href="#panel-left-store" data-icon="bars" data-iconpos="notext"></a>
        <h1>活动店面</h1>
        <a href="#panel-right-store" data-icon="grid" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="store-container">
            <form action="">
                <ul data-role="listview" data-divider-theme="a">
                    <li data-role="list-divider">订购电话</li>
                    <li>
                        <p>全国 400 810 1228</p>
                        <p>北京 (010) 59717172</p>
                    </li>
                    <li data-role="list-divider">体验店位置</li>
                    <li>
                        <h2>西单大悦城索尼</h2>
                        <p>店铺负责人：王东领</p>
                        <p>手机：13439694567</p>
                        <p>座机：59717172</p>
                        <p>店铺地址：北京市西城区西单北大街131号大悦城商场五层</p>
                        <h2>西单华威大厦</h2>
                        <p>座机：010-66028888</p>
                        <p>店铺地址：北京市西城区西单北大街华威大厦商场五层</p>
                        <h2>王府井工美索尼</h2>
                        <p>座机：010-65233016</p>
                        <p>店铺地址：北京市东城区王府井大街工美大厦B1</p>
                        <h2>索尼体验店</h2>
                        <p>各大移动营业厅</p>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
