<div data-role="page" id="store" data-theme="d">
    <div data-role="header" data-theme="d">
        <a href="#panel-left-store" data-icon="bars" data-iconpos="notext"></a>
        <h1>SONY活动店面</h1>
        <a href="#panel-right-store" data-icon="grid" data-iconpos="notext"></a>
    </div>
    <div data-role="content">
        <div class="store-container">
            <form action="">
                <ul data-role="listview" data-divider-theme="a">
                    <li data-role="list-divider">零售店位置</li>
                    <li>
                        <h2>北京东方广场店</h2>
                        <p>北京市东长安街1号东方新天地商场首层</p>
                        <p>AA06C&AA08号店铺</p>
                        <p>010-58116080</p>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
