h1,h2,h3,h4,h5,h6,div,p,ul,li {
  margin: 0;
  padding: 0;
}

.go-top {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: none;
}

.list-container {
  width: 290px;
  margin: 0 auto;
  .product {
    .pic {
      margin-bottom: 10px;
      img {
        width: 290px;
        height: 290px;
      }
    }
    .info {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .more {
      text-align: right;
    }

    .swipe {
      overflow: hidden;
      visibility: hidden;
      position: relative;
    }
    .swipe-wrap {
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float:left;
      width:100%;
      position: relative;
    }
  }
}

.search-container {
  width: 290px;
  margin: 0 auto;
}

.detail-container {
  width: 290px;
  margin: 0 auto;
  .info {
    .title {
      font-size: 20px;
    }
  }
  .video {
    height: 290px;
    background-color: #333333;
  }
  .comment {
    height: 290px;
    background-color: #cccccc;
  }
  .manual {
    height: 290px;
    background-color: #cccccc;
  }
  .specific {
    height: 290px;
    background-color: #cccccc;
  }
}

.store-container {
  width: 290px;
  margin: 0 auto;
}

.profile-container {
  width: 290px;
  margin: 0 auto;
}