h1,h2,h3,h4,h5,h6,div,p,ul,li {
  margin: 0;
  padding: 0;
}

.go-top {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: none;
  z-index: 9999;
}

.list-container {
  width: 290px;
  margin: 0 auto;
  .product {
    .pic {
      margin: -13px -15px 10px -15px;
      img {
        width: 320px;
        height: 320px;
      }
    }
    .info {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .more {
      text-align: right;
    }
    .swipe {
      overflow: hidden;
      visibility: hidden;
      position: relative;
    }
    .swipe-wrap {
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float:left;
      width:100%;
      position: relative;
    }
  }
}

.detail-container {
  width: 290px;
  margin: 0 auto;
  .video {
    margin: -15px -15px 10px -15px;
    background-color: #333333;
    video {
      width: 320px;
    }
  }
  .toolbar {
    margin-bottom: 10px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .brief {
    font-size: 12px;
  }
  .comment {
    .stars {
      color: #FF9933;
    }
  }
}

.detail-comment-container {
  .stars {
    font-size: 20px;
    text-align: center;
    color: #FF9933;
    span {
      cursor: pointer;
    }
  }
}

.store-container {
  width: 290px;
  margin: 0 auto;
}

.profile-container {
  width: 290px;
  margin: 0 auto;
}